<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="public/assets/fonts/Roboto/">
    <link href="https://fontawesome.com/v4.7.0/icon/google">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>toan</title>

</head>

<body class="body">
    <div id="app"></div>
</body>
<style>
    .body {
        margin: 0px;
    }
</style>

</html>