<template>
  <div class="cart">
    <div class="cart-title">
      <h3>Cart</h3>
      <div class="cart-title">
        <a class="cart-home" href="/">Home</a>
        <p>/ Our Store</p>
      </div>
      <form class="cart-form" action="/cart" method="post">
        <table class="cart-item">
          <thead>
            <tr>
              <th class="first">Product</th>
              <th>Price</th>
              <th>Quality</th>
              <th class="last" colspan="2">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="cart-item variant-39421009362 first last"
              data-variant="39421009362"
              data-title="Frankie Overall Shorts"
              data-url="#"
              v-for="(product, key) in products"
              :key="key"
            >
              <td class="product-item first">
                <a class="image" href="#">
                  <img
                    src="/assets/images/frankie_overall_shorts_1_157x160.jpg"
                    alt="Frankie Overall Shorts"
                    data-rimg
                    srcset="/assets/images/frankie_overall_shorts_1_157x160.jpg"
                  >
                </a>
                <div class="product-item-details">
                  <span class="cart-title">
                    <a href="/products" title>{{product.title}}</a>
                  </span>

                  <span class="cart-variant">3M / Indigo</span>
                </div>

                <a class="remove" v-on:click="removeProduct($index)">
                  <svg viewBox="0 0 320 512">
                    <path
                      d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"
                      class
                    ></path>
                  </svg>
                </a>
              </td>
              <td class="price" data-title="Price">
                <span
                  class="money"
                  data-currency-usd="
  $64.00 USD

"
                  data-currency="USD"
                >${{product.price}} USD</span>
              </td>
              <td class="quantity" data-title="Quantity">
                <input type="text" :value="product.count" @keyup="onChangeCount(product)">
              </td>

              <td class="total-last" data-title="Total">
                <span
                  class="money"
                  data-currency-usd="
  $64.00 USD

"
                  data-currency="USD"
                >${{parseInt(product.count)*parseInt(product.price)}} USD</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="cart-tools">
          <div class="cart-totals">
            <p class="cart-price">
              <span
                class="money"
                data-currency-usd="
  $64.00 USD

"
                data-currency="USD"
              >${{totalPrice}} USD</span>
            </p>
            <div class="cart-buttons-container">
              <input
                class="cart-update button secondary"
                type="submit"
                name="update"
                value="Update"
              >
              <button class="cart-checkout" type="submit" name="checkout" value="Checkout">
                <span>Checkout</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<style lang="scss">
.cart {
  width: 100%;
  float: left;
  width: 100%;
  float: left;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #333;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.625;
  h3 {
    float: left;
    margin: 0;
    text-align: center;
    color: #000;
    font-size: 1.2em;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    width: 100%;
  }
  .cart-title {
    float: left;
    font-size: 0.9em;
    height: auto;
    width: 100%;
    .cart-home {
      width: 49%;
      float: left;
      font-family: "Lato", sans-serif;
      font-size: 1em;
      cursor: pointer;
      text-align: right;
      text-decoration: none;
      color: #8a8a8a;
    }
    p {
      width: 50%;
      padding-left: 0.5%;
      margin-left: 1%;
      float: left;
      font-family: "Lato", sans-serif;
      color: #8a8a8a;
      font-size: 1em;
      margin: 0;
    }
  }
  .cart-form {
    max-width: 1260px;
    float: left;
    margin: 40px auto;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    .cart-items {
      width: 100%;
      border-top: 1px solid #e4e4e4;
      -webkit-transition: height 0.3s ease-in;
      -moz-transition: height 0.3s ease-in;
      transition: height 0.3s ease-in;
    }
    .cart-item {
      -webkit-transition: opacity 0.3s ease-in, height 0.3s ease-in;
      -moz-transition: opacity 0.3s ease-in, height 0.3s ease-in;
      transition: opacity 0.3s ease-in, height 0.3s ease-in;
      .quantity {
        width: 15%;
        padding-left: 0;
        text-align: right;
        input {
          width: 39px;
          text-align: center;
          padding: 5px;
        }
      }
      td {
        padding: 30px;
        border: 0;
      }
      .product-item {
        position: relative;
        width: 55%;
        font-size: 0;
        padding-right: 0;
        .image {
          vertical-align: middle;

          font-size: 1rem;
        }

        img {
          width: 25%;
        }
        .product-item-details {
          // float: left;
          width: 66%;
          padding: 0 30px 0 20px;
          display: inline-block;
          // vertical-align: middle;
          font-size: 1rem;
          .cart-title {
            float: left;
            text-decoration: none;
            font-size: 0.9em;
            height: auto;
            a {
              text-decoration: none;
            }
          }
        }
      }
      .remove {
        display: block;
        position: absolute;
        top: 30px;
        left: 10px;
        font-size: 0.71429rem;
        color: #8a8a8a;
        -webkit-font-smoothing: antialiased;
        font-family: "chiko-icons";
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        svg {
          height: 18px;
          width: 18px;
          color: #000;
        }
      }
    }
    .cart-tools {
      margin-top: 40px;
      font-size: 24px;
      width: 100%;
      text-align: right;
      vertical-align: top;
      font-size: 1rem;
      .cart-price {
        font-family: "Crimson Text", serif;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        line-height: 1;
        font-size: 2.14286rem;
        color: #000;
        width: 100%;
      }
      .cart-buttons-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        margin-bottom: 10px;
        float: right;
        secondary.button,
        .secondary.submit,
        input.secondary[type="submit"],
        input.secondary[type="button"],
        .secondary.pxs-newsletter-form-button,
        .secondary.pxs-image-with-text-button {
          background: #4667a7;
          color: #fff;
        }
        .button {
          margin-top: 0;
          margin-bottom: 0;
        }
        .button,
        .submit,
        input[type="submit"],
        input[type="button"] {
          font-family: Lato, sans-serif;
          font-style: normal;
          font-weight: 400;
          background: #4667a7;
          color: #fff;
          display: inline-block;
          text-align: center;
          line-height: normal;
          padding: 15px 20px;
          border-radius: 2px;
          font-size: 1rem;
          border: none;
        }
        .cart-checkout {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
          font-family: Lato, sans-serif;
          font-style: normal;
          font-weight: 400;
          background: #4667a7;
          color: #fff;
          display: inline-block;
          text-align: center;
          line-height: normal;
          padding: 15px 20px;
          border-radius: 2px;
          border: none;
          font-size: 1rem;
        }
      }
    }
    table {
      background: transparent;
      color: #333;
      border: 1px solid #e4e4e4;
      border-radius: 2px;
      border-collapse: separate;
      width: 100%;
      th {
        padding: 20px 30px 20px 0;
        font-size: 0.85714rem;
        text-align: right;
        border-bottom: 1px solid #e4e4e4;
        .first {
          text-align: left;
          padding-left: 30px;
        }
      }
      th.first {
        float: left;
        padding-left: 30px;
      }
    }
  }
}
</style>
<script>
export default {
  data() {
    return {
      products: [
        {
          id: 1,
          title: "Product one",
          price: 10.0,
          count: 2
        },
        {
          id: 2,
          title: "Product two",
          price: 19.0,
          count: 1
        }
      ],
      totalPrice: 0
    };
  },
  created() {
    this.calcPrice();
  },
  methods: {
    calcPrice() {
      let total = 0;
      this.products.forEach(product => {
        total += parseInt(product.count) * parseInt(product.price);
      });
      this.totalPrice = total;
    },
    onChangeCount(product) {
      let value = event.target.value;
      // console.log(value);
      this.products.forEach(productData => {
        if (product.id == productData.id) {
          productData.count = parseInt(value);
        }
      });
      this.calcPrice();
    },
    removeProduct: function(index) {
      this.products.splice(index, 1);
    }
  }
};
</script>
