<template>
  <div class="contact">
    <h3>Contact US</h3>
    <div class="contact-title">
      <a class="contact-home" href="/">Home</a>
      <p class="us">/ Contact US</p>
    </div>
    <div class="contact-content">
      <p
        class="content-desc"
      >This is a demo store. If you want to get in touch with the real Mabo Kids, you can do so here.</p>
    </div>
    <form method="post" id="contact_form" accept-charset="UTF-8" class="contact_form">
      <input type="hidden" name="form_type" value="contact">
      <input type="hidden" name="utf8" value="✓">
      <div class="field-wrap name">
        <label>Name</label>
        <input type="text" placeholder="Your name" value name="contact[name]" class v-model="email">
      </div>
      <div class="field-wrap email">
        <label>Email</label>
        <input type="text" placeholder="your@email.com" value name="contact[email]" class>
      </div>
      <div class="field-wrap message">
        <label>Message</label>
        <textarea name="contact[body]" class></textarea>
      </div>
      <input type="hidden" class="comment-check" value>
      <input type="submit" value="Submit">
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: ""
    };
  }
};
</script>

<style lang="scss">
.contact {
  width: 100%;
  float: left;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 1.625;
  h3 {
    text-align: center;
    color: #000;
    font-size: 1.2em;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    width: 100%;
  }
  .contact-title {
    float: left;
    height: 2em;
    width: 100%;
    .contact-home {
      width: 49%;
      float: left;
      font-family: "Lato", sans-serif;
      font-size: 1em;
      cursor: pointer;
      text-align: right;
      text-decoration: none;
      color: #8a8a8a;
    }
    .us {
      width: 50%;
      padding-left: 0.5%;
      margin-left: 1%;
      float: left;
      font-family: "Lato", sans-serif;
      color: #8a8a8a;
      font-size: 1em;
      margin: 0;
    }
  }
  .contact-content {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #000;
    font-size: 14px;
    margin-top: 1.3em;
    display: flex;
    justify-content: center;
    .content-desc {
      text-align: center;
    }
  }
  .contact_form {
    margin: 40px auto;
    padding: 0 30px;
    max-width: 400px;
    input {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .field-wrap {
      box-sizing: border-box;
    }
    label {
      display: block;
      margin: 32px 0 22px;
    }
    input[type="text"] {
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: 400;
      display: block;
      width: 100%;
      max-width: 340px;
      padding: 10px 12px;
      font-size: 1rem;
      color: #333;
      background: #fff;
      border: 1px solid #e4e4e4;
      border-radius: 2px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
    }
    textarea {
      min-height: 170px;
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: 400;
      display: block;
      width: 100%;
      max-width: 340px;
      padding: 10px 12px;
      font-size: 1rem;
      color: #333;
      background: #fff;
      border: 1px solid #e4e4e4;
      border-radius: 2px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    input[type="submit"] {
      display: block;
      margin-top: 32px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
      background: #4667a7;
      color: #fff;
      display: inline-block;
      text-align: center;
      line-height: normal;
      padding: 15px 20px;
      border-radius: 2px;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
</style>
