<template>
  <div class="main-content">
    <div class="slideshow">
      <a class="slideshow-img" href="#">
        <img src="assets/images/hero2_1376x800.jpg">
      </a>
      <div class="slideshow-slide-title">
        <h1 class="slideshow-slide-heading">Homegrown Style</h1>
        <p
          class="slideshow-slide-subheading"
        >Unique children's clothing, designed with love, and proudly made in the USA.</p>
        <a class="slideshow-slide-cta button" href="/post/:slug">Shop Now</a>
      </div>
    </div>
    <section class="main-post">
      <div class="image1">
        <div class="image1_child-1">
          <div class="image1_child-1-post1">
            <a class="image1_child-1-post1-image" href="#">
              <img src="assets/images/gridblock_416x288_crop_center.jpg">
            </a>
            <div class="image1_child-1-post1-title">
              <h2>Handmade with Care</h2>
              <p
                class="des"
              >All of our products are made from 100% organic cotton and made locally in Salt Lake City, Utah.</p>
            </div>
          </div>
          <div class="image1_child-1-post2">
            <a class="image1_child-1-post2-image" href="#">
              <img src="assets/images/masonry4_1400x1400_crop_center.jpg">
            </a>
          </div>
        </div>
        <div class="image1_child-2">
          <div class="image1_child-2-image1">
            <div class="image1_child-2-image1-first">
              <div class="image1_child-2-image1-first-anh">
                <img src="assets/images/masonry2_1440x1440_crop_center.jpg">
              </div>
            </div>
            <div class="image1_child-2-image1-last">
              <div class="image1_child-2-image1-last-anh">
                <img class="anh" src="assets/images/masonry3_1440x1152_crop_center.jpg">
              </div>
            </div>
          </div>
          <!-- end -->
          <div class="image1_child-2-image2">
            <div class="image1_child-2-image2-post1">
              <a class="image1_child-2-image2-post-image" href="#">
                <img class="ima" src="assets/images/gridblock_416x288_crop_center.jpg">
              </a>
              <div class="image1_child-2-image2-post1-title">
                <p class="des">Keep them cool in our fresh new summer styles</p>
              </div>
            </div>

            <div class="image1_child-2-image2-post2">
              <div class="image1_child-2-image2-last-anh">
                <img class="anh1" src="assets/images/masonry6_1400x1120_crop_center.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-post-product">
        <h2>Featured Products</h2>
        <div class="main-post-product-posts">
          <div class="main-post-product-post1">
            <router-link to="/priview" style="text-decoration:none;">
              <a class="main-post-product-post1-img">
                <img
                  src="assets/images/edith_blouse_in_clover_gauze_2_33770106-d67b-4803-b9a8-cbaef3a7dca0_288x352.jpg"
                >
                <img src="assets/images/edith_blouse_1_587x600.jpg">
              </a>
              <div class="main-post-product-posts1-detail">
                <h2 class="title">
                  <a>Edith Blouse</a>
                </h2>
                <div class="main-post-product-posts1-detail-price">
                  <span
                    class="money"
                    data-currency-usd="
  $48.00 USD

"
                    data-currency="USD"
                  >$48.00 USD</span>
                </div>
              </div>
            </router-link>
          </div>
          <div class="main-post-product-post1">
            <router-link to="/priview" style="text-decoration:none;">
              <a class="main-post-product-post1-img">
                <img src="assets/images/frankie_overall_shorts_2_352x288.jpg">
                <img src="assets/images/frankie_overall_shorts_1_288x288.jpg">
              </a>
              <div class="main-post-product-posts1-detail">
                <h2 class="title">
                  <a>Frankie Overall Shorts</a>
                </h2>
                <div class="main-post-product-posts1-detail-price">
                  <span
                    class="money"
                    data-currency-usd="
  $48.00 USD

"
                    data-currency="USD"
                  >$64.00 USD</span>
                </div>
              </div>
            </router-link>
          </div>
          <div class="main-post-product-post1">
            <router-link to="/priview" style="text-decoration:none;">
              <a class="main-post-product-post1-img">
                <img
                  src="assets/images/james_track_shorts_in_deep_blue_washed_linen_2_fa40e86a-ac54-477d-8273-21aa383484a9_288x288.jpg"
                >
                <img src="assets/images/james_track_shorts_in_clover_washed_linen_2_288x288.jpg">
                <span class="product-list-item-on-sale" data-title="ON SALE"></span>
              </a>

              <div class="main-post-product-posts1-detail">
                <h2 class="title">
                  <a>Frankie Overall Shorts</a>
                </h2>
                <div class="main-post-product-posts1-detail-price">
                  <span
                    class="money"
                    data-currency-usd="
  $48.00 USD

"
                    data-currency="USD"
                  >$42.00 USD</span>
                  <span
                    class="original money"
                    data-currency-usd="
  $50.00 USD

"
                    data-currency="USD"
                  >$50.00 USD</span>
                </div>
              </div>
            </router-link>
          </div>
          <div class="main-post-product-post1">
            <router-link to="/priview" style="text-decoration:none;">
              <a class="main-post-product-post1-img">
                <img
                  src="assets/images/orla_slip_dress_in_coral_washed_linen_2_ec021983-995f-4535-b948-ef5b79d5896d_288x352.jpg"
                >
                <img
                  src="assets/images/orla_slip_dress_in_coral_washed_linen_3_a26e143f-6bc1-45cb-9c40-42aa2b405980_288x288.jpg"
                >
                <span class="product-list-item-on-sale" data-title="SOLD OUT"></span>
              </a>
              <div class="main-post-product-posts1-detail">
                <h2 class="title">
                  <a>Orla Slip Dress</a>
                </h2>
                <div class="main-post-product-posts1-detail-price">
                  <span
                    class="money"
                    data-currency-usd="
  $48.00 USD

"
                    data-currency="USD"
                  >$64.00 USD</span>
                  <span
                    class="original money"
                    data-currency-usd="
  $64.00 USD

"
                    data-currency="USD"
                  >$64.00 USD</span>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>
      <div class="main-post-news">
        <div class="main-post-news-rows">
          <div class="main-post-news-row">
            <span class="main-news-row-icon">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="21"
                viewBox="0 0 24 21"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M2.436 18.227C1.425 16.969.919 15.329.919 13.306c0-2.763.752-5.266 2.257-7.511C4.681 3.55 6.987 1.663 10.095.134l.814 1.184c-1.48.888-2.824 2.134-4.033 3.737-1.209 1.603-1.813 3.219-1.813 4.847 0 .444.123.802.37 1.073.247.271.617.407 1.11.407 1.233 0 2.282.432 3.145 1.295s1.295 1.912 1.295 3.145-.432 2.257-1.295 3.071c-.863.814-1.912 1.221-3.145 1.221-1.727 0-3.096-.629-4.107-1.887zm12.802 0c-1.011-1.258-1.517-2.898-1.517-4.921 0-2.763.752-5.266 2.257-7.511 1.505-2.245 3.811-4.132 6.919-5.661l.814 1.184c-1.48.888-2.824 2.134-4.033 3.737-1.209 1.603-1.813 3.219-1.813 4.847 0 .444.123.802.37 1.073.247.271.617.407 1.11.407 1.233 0 2.282.432 3.145 1.295s1.295 1.912 1.295 3.145-.432 2.257-1.295 3.071c-.863.814-1.912 1.221-3.145 1.221-1.727 0-3.096-.629-4.107-1.887z"
                ></path>
              </svg>
            </span>
            <p
              class="main-news-row-content"
            >Dressing my girls can be a bit of a battle, but not with these dresses. They love them! I'm only slightly jealous of their wardrobe.</p>
            <span class="home-testimonials-name">Adrianna</span>
            <span class="home-testimonials-role">Brooklyn, NY</span>
          </div>
          <div class="main-post-news-row">
            <span class="main-news-row-icon">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="21"
                viewBox="0 0 24 21"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M2.436 18.227C1.425 16.969.919 15.329.919 13.306c0-2.763.752-5.266 2.257-7.511C4.681 3.55 6.987 1.663 10.095.134l.814 1.184c-1.48.888-2.824 2.134-4.033 3.737-1.209 1.603-1.813 3.219-1.813 4.847 0 .444.123.802.37 1.073.247.271.617.407 1.11.407 1.233 0 2.282.432 3.145 1.295s1.295 1.912 1.295 3.145-.432 2.257-1.295 3.071c-.863.814-1.912 1.221-3.145 1.221-1.727 0-3.096-.629-4.107-1.887zm12.802 0c-1.011-1.258-1.517-2.898-1.517-4.921 0-2.763.752-5.266 2.257-7.511 1.505-2.245 3.811-4.132 6.919-5.661l.814 1.184c-1.48.888-2.824 2.134-4.033 3.737-1.209 1.603-1.813 3.219-1.813 4.847 0 .444.123.802.37 1.073.247.271.617.407 1.11.407 1.233 0 2.282.432 3.145 1.295s1.295 1.912 1.295 3.145-.432 2.257-1.295 3.071c-.863.814-1.912 1.221-3.145 1.221-1.727 0-3.096-.629-4.107-1.887z"
                ></path>
              </svg>
            </span>
            <p
              class="main-news-row-content"
            >Thanks for making clothes that I'm actually excited to dress my little ones in. Love the beautiful color palettes and fabrics.</p>
            <span class="home-testimonials-name">Nicole</span>
            <span class="home-testimonials-role">Guelph, ON</span>
          </div>
          <div class="main-post-news-row">
            <span class="main-news-row-icon">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="21"
                viewBox="0 0 24 21"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M2.436 18.227C1.425 16.969.919 15.329.919 13.306c0-2.763.752-5.266 2.257-7.511C4.681 3.55 6.987 1.663 10.095.134l.814 1.184c-1.48.888-2.824 2.134-4.033 3.737-1.209 1.603-1.813 3.219-1.813 4.847 0 .444.123.802.37 1.073.247.271.617.407 1.11.407 1.233 0 2.282.432 3.145 1.295s1.295 1.912 1.295 3.145-.432 2.257-1.295 3.071c-.863.814-1.912 1.221-3.145 1.221-1.727 0-3.096-.629-4.107-1.887zm12.802 0c-1.011-1.258-1.517-2.898-1.517-4.921 0-2.763.752-5.266 2.257-7.511 1.505-2.245 3.811-4.132 6.919-5.661l.814 1.184c-1.48.888-2.824 2.134-4.033 3.737-1.209 1.603-1.813 3.219-1.813 4.847 0 .444.123.802.37 1.073.247.271.617.407 1.11.407 1.233 0 2.282.432 3.145 1.295s1.295 1.912 1.295 3.145-.432 2.257-1.295 3.071c-.863.814-1.912 1.221-3.145 1.221-1.727 0-3.096-.629-4.107-1.887z"
                ></path>
              </svg>
            </span>
            <p
              class="main-news-row-content"
            >Our order arrived yesterday and it's perfect! Thank you so much for the lovely dresses and terrific, personalized service.</p>
            <span class="home-testimonials-name">Bridget</span>
            <span class="home-testimonials-role">Bend, OR</span>
          </div>
        </div>
      </div>
      <div class="main-post-Januaral-posts">
        <h2 class="main-post-Januaral-post-title1">Journal</h2>
        <div class="main-post-Januaral-list">
          <div class="main-post-Januaral-post">
            <div class="main-post-Januaral-post-date">
              <a href="#" class="main-post-Januaral-post-date1">
                <time datetime="2017-08-18T19:26:00Z">Aug 18, 2017</time>
              </a>
            </div>
            <div class="main-post-Januaral-post-title">
              <h4 class="home-blog-post-title">
                <a href="post.vue">Get Outside! 3 Fun Outdoor Activities to Do With Your Kids</a>
              </h4>
              <a class="home-blog-post-image">
                <img src="assets/images/blog7_384x320.jpg">
              </a>
            </div>
            <p
              class="home-blog-post-des"
            >Companies looking to take advantage of the popularity of organic clothing cannot just slap the label up there and call their products organic. There are strict guidelines in place to determine whether or not the t-shirt is in fact organic. In order to be called an organic t-shirt...</p>
            <div class="botton">Read more</div>
          </div>
          <div class="main-post-Januaral-post">
            <div class="main-post-Januaral-post-date">
              <a href="#" class="main-post-Januaral-post-date1">
                <time datetime="2017-08-18T19:26:00Z">Aug 14, 2017</time>
              </a>
            </div>
            <div class="main-post-Januaral-post-title">
              <h4 class="home-blog-post-title">
                <a href="/post/:slug">How Gardening Can Help Make Healthier, Happier Kids</a>
              </h4>
              <a class="home-blog-post-image">
                <img src="assets/images/blog4_384x320.jpg">
              </a>
            </div>
            <p
              class="home-blog-post-des"
            >American parents may bond with their children by taking them to farmers’ markets or showing them how to grow potted plants, but in other areas of the world, growing plants may literally help keep families together. In Ecuador, for example, children were often left alone...</p>
            <div class="botton">Read more</div>
          </div>
          <div class="main-post-Januaral-post">
            <div class="main-post-Januaral-post-date">
              <a href="#" class="main-post-Januaral-post-date1">
                <time datetime="2017-08-18T19:26:00Z">Aug 18, 2017</time>
              </a>
            </div>
            <div class="main-post-Januaral-post-title">
              <h4 class="home-blog-post-title">
                <a href="post.vue">Get Outside! 3 Fun Outdoor Activities to Do With Your Kids</a>
              </h4>
              <a class="home-blog-post-image">
                <img src="assets/images/blog6_384x320.jpg">
              </a>
            </div>
            <p
              class="home-blog-post-des"
            >In this day and age of computer games and television, some fun kids outdoor games and activities are what we need to get our kids physically fit and active. Kids these days are hooked on to Television and Video games. A little bit of fresh air can provide huge health benefits...</p>
            <div class="botton">Read more</div>
          </div>
        </div>
      </div>
      <div class="main-post-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7450.382343185768!2d105.79401649999997!3d20.984972599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1551145558626"
          class="map"
        ></iframe>
      </div>
      <div class="main-post-intagram">
        <h4 class="main-post-intagram-title">Instagram</h4>
        <div class="main-post-intagram-images">
          <div class="main-post-intagram-image">
            <img src="assets/images/51749220_138556287181542_9100341252499377979_n.jpg">
          </div>
          <div class="main-post-intagram-image">
            <img src="assets/images/50234427_388944878349278_2756108009255839762_n.jpg">
          </div>
          <div class="main-post-intagram-image">
            <img src="assets/images/51510675_354934298433253_7220591810305623136_n.jpg">
          </div>
          <div class="main-post-intagram-image">
            <img src="assets/images/51648918_199946800961824_7200175091308168529_n.jpg">
          </div>
          <div class="main-post-intagram-image">
            <img src="assets/images/51113492_246546582916909_3599597001851771827_n.jpg">
          </div>
          <div class="main-post-intagram-image">
            <img src="assets/images/50977153_304217626962259_6711255782615030712_n.jpg">
          </div>
        </div>
        <div class="main-post-intagram-follow">
          <span>Follow</span>
          <a href="#" target="_blaknk" class="mail">Toanly97@gmail.com</a>
          <span>Instagram</span>
        </div>
      </div>
    </section>
  </div>
</template>
<style lang="scss">
.main-content {
  margin-top: 0;
  // margin-bottom: 65px;
  width: 100%;
  .slideshow {
    position: relative;
    width: 100%;
    height: 43.75em;
    float: left;
    box-sizing: border-box;
    .slideshow-img {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .slideshow-slide-title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-family: "Crimson Text", serif;
      line-height: 1.25em;
      text-decoration: none;
      text-align: center;
      top: 25%;
      .slideshow-slide-heading {
        color: #fff;
        font-size: 4.57143rem;
        font-weight: 400;
      }
      .slideshow-slide-subheading {
        font-size: 1.5rem;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 0;
      }
      .button {
        margin-top: 1em;
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 400;
        background: #4667a7;
        color: #fff;
        display: inline-block;
        text-align: center;
        line-height: normal;
        padding: 15px 20px;
        border-radius: 2px;
        font-size: 1rem;
        text-decoration: none;
      }
    }
  }
  .main-post {
    width: 100%;
    margin-top: 1em;
    float: left;
    .image1 {
      display: block;
      width: 100%;
      height: 40em;
      float: left;
      // margin-left: 5px;
      .image1_child-1 {
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 1%;
        .image1_child-1-post1 {
          position: relative;
          width: 100%;
          height: 45%;
          display: block;
          .image1_child-1-post1-image {
            img {
              width: 100%;
              height: 100%;
            }
          }
          .image1_child-1-post1-title {
            left: 50%;
            font-family: "Crimson Text", serif;
            width: 100%;
            font-size: 1rem;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            h2 {
              font-size: 1.57143rem;
              color: #000;
              text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
              font-family: "Crimson Text", serif;
              font-weight: 400;
              font-style: normal;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .des {
              color: #000;
              font-size: 1.14286rem;
              line-height: 1.2;
              text-align: center;
            }
          }
        }
        .image1_child-1-post2 {
          overflow: hidden;
          position: relative;
          margin-top: 2%;
          width: 100%;
          height: 54%;
          display: block;
          .image1_child-1-post2-image {
            img {
              width: 100%;
              height: 100%;
            }
          }
          &:hover {
            img {
              transform: scale(1.1); // Tăng kích thước của dom hiện tại
            }
            .image1_child-1-post2 {
              opacity: 1;
            }
          }
        }
      }
      .image1_child-2 {
        // position: absolute;
        width: 68%;
        float: right;
        margin-left: 1%;
        height: 100%;
        .image1_child-2-image1 {
          height: 60%;
          width: 100%;
          .image1_child-2-image1-first {
            height: 100%;
            width: 45%;
            float: left;
            .image1_child-2-image1-first-anh {
              height: 100%;
              width: 100%;
              img {
                width: 100%;
                height: 100%;
                overflow: hidden;
              }
            }
          }
          .image1_child-2-image1-last {
            height: 100%;
            float: left;
            width: 53%;
            margin-left: 1%;
            .image1_child-2-image1-last-anh {
              height: 100%;
              width: 100%;
              .anh {
                width: 100%;
                height: 100%;
                overflow: hidden;
              }
            }
            // &:hover {
            //   img {
            //     transform: scale(1.1);
            //   }
            // }
          }
        }
        .image1_child-2-image2 {
          height: 38%;
          margin-top: 2%;
          width: 100%;
          .image1_child-2-image2-post1 {
            float: left;
            position: relative;
            height: 100%;
            width: 60%;
            .image1_child-2-image2-post-image {
              height: 100%;
              width: 100%;
              .ima {
                height: 100%;
                width: 100%;
              }
            }
            .image1_child-2-image2-post1-title {
              top: 50%;
              display: flex;
              justify-items: center;
              justify-content: center;
              font-size: 1.5em;
              position: absolute;
            }
          }
          .image1_child-2-image2-post2 {
            height: 100%;
            float: left;
            width: 38%;
            margin-left: 1%;
            .image1_child-2-image2-last-anh {
              height: 100%;
              width: 100%;
              .anh1 {
                height: 100%;
                width: 100%;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
    .main-post-product {
      float: left;
      margin-top: 2em;
      width: 100%;
      h2 {
        // margin-top: 2em;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 1.5rem;
        justify-items: center;
      }
      .main-post-product-posts {
        padding: 0 10px;
        font-size: 0;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        float: left;
        .main-post-product-post1 {
          // float: left;
          width: 21%;
          height: 17.25em;
          margin: 20px 0 30px;
          display: inline-block;
          vertical-align: top;
          padding: 0 1.25em;
          font-size: 1rem;
          .main-post-product-post1-img {
            position: relative;
            display: block;
            z-index: 10;
            width: 100%;
            height: 100%;
            img {
              overflow: hidden;
              position: absolute;
              height: 100%;
              width: 100%;
            }
            &:hover img:first-child {
              z-index: 5;
            }

            .product-list-item-on-sale {
              position: absolute;
              z-index: 10;
              top: -10px;
              right: -10px;
              background: #d36654;
              padding: 10px;
              font-size: 0.6428rem;
              width: 52px;
              height: 52px;
              border-radius: 50%;
              text-align: center;
              line-height: 1.4;
            }
            .product-list-item-on-sale::after {
              content: attr(data-title);
              transform: translate(-50%, -50%);
              position: absolute;
              top: 50%;
              left: 50%;
              font-size: 0.6429rem;
              color: #fff;
              // -webkit-font-smoothing: antialiased;
            }
          }

          .main-post-product-posts1-detail {
            text-align: center;
            .title {
              line-height: 1.25;
              font-family: Lato, sans-serif;
              font-style: normal;
              font-weight: 400;
              margin: 7px 0;
              font-size: 1em;
              text-transform: none;
              letter-spacing: 0;
              a {
                text-decoration: none;
                color: #000;
                box-sizing: border-box;
                cursor: pointer;
              }
            }
            .main-post-product-posts1-detail-price {
              font-family: Lato, sans-serif;
              font-style: normal;
              .money {
                text-align: center;
              }
              .original {
                text-decoration: line-through;
                color: #999;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
    .main-post-news {
      padding: 40px 0;
      position: relative;
      width: 100%;
      overflow: hidden;
      .main-post-news-rows {
        padding: 40px 0;
        float: left;
        width: 100%;
        margin-right: 15px;
        .main-post-news-row {
          width: calc(31% - 30px);
          background-color: #f7f7f7;
          padding: 40px 15px;
          margin-left: 2%;
          float: left;
          .main-news-row-icon {
            display: inline-block;
            margin-right: auto;
            margin-bottom: 20px;
            margin-left: 43%;
            color: #4667a7;
          }
          .main-news-row-content {
            width: 80%;
            margin-left: 10%;
            display: flex;
            justify-items: center;
            justify-content: center;
          }
          .home-testimonials-name {
            width: 80%;
            margin-left: 10%;
            display: flex;
            justify-items: center;
            justify-content: center;
            font-size: 1.14286rem;
          }
          .home-testimonials-role {
            margin-top: 2px;
            font-size: 1.14286rem;
            opacity: 0.5;
            line-height: 1.15;
            color: #333;
            text-align: center;
            margin-left: 38%;
          }
        }
      }
    }
    .main-post-Januaral-posts {
      float: left;
      border-top: 1px solid #cccccc;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
      color: #333;
      font-size: 14px;
      line-height: 1.625;
      .main-post-Januaral-post-title1 {
        margin-bottom: 30px;
        text-align: center;
        display: block;
        width: 100%;
        font-size: 1.28571rem;
        font-family: "Crimson Text", serif;
        font-style: normal;
        font-weight: 400;
        color: #7f8c8d;
      }
      .main-post-Januaral-list {
        padding: 40px;
        position: relative;
        overflow: hidden;
      }
      .main-post-Januaral-post {
        width: 31%;
        float: left;
        margin-left: 2%;
      }
      .main-post-Januaral-post-date {
        text-align: center;
        .main-post-Januaral-post-date1 {
          text-decoration: none;
          color: #8a8a8a;
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          color: #333;
          font-size: 14px;
          line-height: 1.625;
        }
      }
      .main-post-Januaral-post-title {
        text-align: center;
        color: #3498db;
        font-family: "Crimson Text", serif;
        font-style: normal;
        font-weight: 400;
        .home-blog-post-title {
          font-size: 1.2rem;
          text-align: center;
          width: 96%;
          a {
            text-align: center;
            text-decoration: none;
          }
        }
        .home-blog-post-image {
          height: 26.125em;
          cursor: pointer;
          width: 20.9375em;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .home-blog-post-des {
        width: 96%;
        text-align: center;
        margin-top: 1.6em;
        margin-bottom: 1.6em;
        cursor: pointer;
      }
      .botton {
        color: #4667a7;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          color: #3498db;
        }
      }
    }
    .main-post-map {
      padding: 60px;
      position: relative;
      overflow: hidden;
      .map {
        width: 100%;
        height: 600px;
      }
    }
    .main-post-intagram {
      padding: 40px;
      text-align: center;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
      color: #333;
      font-size: 14px;
      line-height: 1.625;
      .main-post-intagram-title {
        display: block;
        width: 100%;
        border-top: 1px solid #cccccc;
        position: relative;
        font-size: 1.2em;
        font-family: "Crimson Text", serif;
        font-style: normal;
        font-weight: 400;
        color: #000;
      }
      .main-post-intagram-images {
        justify-content: center;
        justify-items: center;
        display: flex;
        .main-post-intagram-image {
          display: inline-block;
          width: 191.96px;
          height: 196.67px;
          padding: 0 10px;
          background-size: 0;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .main-post-intagram-follow {
        margin-top: 20px;
        font-size: 1em;
        font-family: "Crimson Text", serif;
        font-style: normal;
        font-weight: 400;
        color: #000;
        .mail {
          padding: 0 5px;
          text-decoration: none;
          color: #4667a7;
        }
      }
    }
  }
}
</style>