
<template>
  <div class="introduct">
    <h3>Our Story</h3>
    <div class="introduct-title">
      <a class="introduct-home" href="/">Home</a>
      <p>/ Our Store</p>
    </div>
    <div class="introduct-content">
      <div class="introduct-content-images">
        <a href="#" class="introduct-content-image">
          <img
            src="/assets/images/catalog/grid1_12beb8df-9dc5-4f42-ab16-cb32efbacc6b_2048x2048.png"
          >
        </a>
      </div>
      <p class="introduct-desc">
        With all of our garments designed and manufactured in the USA in small volume,
        Mabo Clothier specializes in fine children's clothing designed for little ones' comfort and simple style.
        With quality, natural fabrics – cotton and linen for summer and cozy wools for winter,
        our clothing is characterized by classic, clean designs with contemporary and playful details.
      </p>
    </div>
  </div>
</template>
<style lang="scss">
.introduct {
  width: 100%;
  float: left;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 1.625;
  h3 {
    text-align: center;
    color: #000;
    font-size: 1.2em;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    width: 100%;
  }
  .introduct-title {
    float: left;
    height: 2em;
    width: 100%;
    .introduct-home {
      width: 49%;
      float: left;
      font-family: "Lato", sans-serif;
      font-size: 1em;
      cursor: pointer;
      text-align: right;
      text-decoration: none;
      color: #8a8a8a;
    }
    p {
      width: 50%;
      padding-left: 0.5%;
      margin-left: 1%;
      float: left;
      font-family: "Lato", sans-serif;
      color: #8a8a8a;
      font-size: 1em;
      margin: 0;
    }
  }
  .introduct-content {
    padding: 0 30px;
    max-width: 710px;
    margin: 40px auto 0;
    width: 100%;

    .introduct-content-images {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5em;
      .introduct-content-image {
        text-align: center;
        img {
          width: 100%;
        }
      }
    }
    .introduct-desc {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: #000;
      font-size: 14px;
      line-height: 1.625;
    }
  }
}
</style>
