<template>
  <div class="catalog">
    <div class="catalog-title">
      <span>Home</span>
      <span>/ Collections</span>
      <span>/ Catalog</span>
    </div>
    <h2>Catalog</h2>
    <div class="catalog-posts">
      <ul>
        <li
          v-for="(product, index) in products"
          :key="'product_' + index"
          style="list-style: none;"
        >
          <div
            :class="(index%3 == 0 || index == 0)?'catalog-post-first':(index%1 == 0)?'catalog-post-second':'catalog-post-threeth'"
          >
            <div class="catalog-post-post">
              <router-link to="/priview" style="text-decoration:none;">
                <a class="catalog-post-image">
                  <img :src="product.image" v-if="product.image">
                  <img
                    src="/assets/images/catalog/nona_dress_in_liberty_of_london_2_ca8fa4cd-2a67-410a-bd7e-777cc015e2bc_384x480.jpg"
                    v-if="!product.image"
                  >
                </a>
                <div class="catalog-post-image-title">
                  <div class="desc">{{product.name}}</div>
                  <div class="desc-price">${{parseFloat(product.price).toFixed(2)}}</div>
                  <button class="add_to_cart" @click="handleAddToCart(product)">ADD TO CART</button>
                </div>
              </router-link>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    products() {
      return this.$store.state.products;
    }
  },
  methods: {
    handleAddToCart(product) {
      this.$store.commit("addToCart", product);
      return;
    }
  }
};
</script>

<style lang="scss">
.catalog {
  width: 100%;
  float: left;
  position: relative;
  .catalog-title {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #bdc3c7;
    display: flex;
    justify-content: center;
    span {
      font-size: 1em;
      padding: 0 0.1em;
    }
  }
  h2 {
    text-align: center;
    font-family: "Crimson Text", serif;
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-size: 1.71429rem;
    display: flex;
    justify-content: center;
  }
  .catalog-posts {
    padding: 3% 5%;
    width: 96%;
    display: flex;
    position: relative;
    ul {
      width: 100%;
    }
    .catalog-post-post {
      width: 100%;
      height: auto;
      .catalog-post-image {
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .catalog-post-image-title {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        margin: 7px 0;
        font-size: 1.07143rem;
        text-transform: none;
        letter-spacing: 0;
        padding: 0 0 2.5em 0;
        .desc {
          text-align: center;
          color: #000;
          cursor: pointer;
          padding: 0 0 10px 0;
        }
        .desc-price {
          text-align: center;
          color: #000;
          cursor: pointer;
          width: 46%;
          float: left;
          padding-top: 6px;
        }
        .add_to_cart {
          text-align: center;
          width: 30%;
          color: #000;
          cursor: pointer;
          border: none;
          float: right;
          margin-right: 3em;
          padding: 10px;
          background: #4667a7;
          color: #fff;
        }
      }
    }
    .catalog-post-first {
      margin-right: 2%;
      width: 30%;
      float: left;
      height: auto;
      clear: both;
    }
    .catalog-post-second {
      margin-right: 2%;
      width: 30%;
      float: left;
      height: auto;
    }
    .catalog-post-threeth {
      margin-right: 2%;
      width: 30%;
      float: left;
      height: auto;
    }
  }
}
</style>
