<template>
  <div class="priview">
    <div class="priview-child">
      <h2>Grid Light Shopify Theme</h2>
      <div class="priview-title">
        <span>
          Cart
          <svg viewBox="0 0 384 512">
            <path
              d="M363.8 264.5L217 412.5c-4.7 4.7-12.3 4.7-17 0l-19.8-19.8c-4.7-4.7-4.7-12.3 0-17L298.7 256 180.2 136.3c-4.7-4.7-4.7-12.3 0-17L200 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17zm-160-17L57 99.5c-4.7-4.7-12.3-4.7-17 0l-19.8 19.8c-4.7 4.7-4.7 12.3 0 17L138.7 256 20.2 375.7c-4.7 4.7-4.7 12.3 0 17L40 412.5c4.7 4.7 12.3 4.7 17 0l146.8-148c4.7-4.7 4.7-12.3 0-17z"
              class
            ></path>
          </svg>
        </span>
        <span>
          Customer information
          <svg viewBox="0 0 384 512">
            <path
              d="M363.8 264.5L217 412.5c-4.7 4.7-12.3 4.7-17 0l-19.8-19.8c-4.7-4.7-4.7-12.3 0-17L298.7 256 180.2 136.3c-4.7-4.7-4.7-12.3 0-17L200 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17zm-160-17L57 99.5c-4.7-4.7-12.3-4.7-17 0l-19.8 19.8c-4.7 4.7-4.7 12.3 0 17L138.7 256 20.2 375.7c-4.7 4.7-4.7 12.3 0 17L40 412.5c4.7 4.7 12.3 4.7 17 0l146.8-148c4.7-4.7 4.7-12.3 0-17z"
              class
            ></path>
          </svg>
        </span>
        <span>
          Shipping method
          <svg viewBox="0 0 384 512">
            <path
              d="M363.8 264.5L217 412.5c-4.7 4.7-12.3 4.7-17 0l-19.8-19.8c-4.7-4.7-4.7-12.3 0-17L298.7 256 180.2 136.3c-4.7-4.7-4.7-12.3 0-17L200 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17zm-160-17L57 99.5c-4.7-4.7-12.3-4.7-17 0l-19.8 19.8c-4.7 4.7-4.7 12.3 0 17L138.7 256 20.2 375.7c-4.7 4.7-4.7 12.3 0 17L40 412.5c4.7 4.7 12.3 4.7 17 0l146.8-148c4.7-4.7 4.7-12.3 0-17z"
              class
            ></path>
          </svg>
        </span>
        <span>Payment method</span>
      </div>
      <div class="priview-contact">
        <p>Contact Information</p>
        <div
          class="section__content"
          data-section="customer-information"
          data-shopify-pay-validate-on-load="false"
        >
          <div class="fieldset">
            <div data-shopify-pay-email-flow="false" class="field-required">
              <div class="field__input-wrapper">
                <label class="field__label field__label--visible" for="checkout_email">Email</label>
                <input
                  placeholder="Email"
                  autocapitalize="off"
                  spellcheck="false"
                  autocomplete="shipping email"
                  data-trekkie-id="email_field"
                  data-autofocus="true"
                  data-backup="customer_email"
                  aria-describedby="checkout-context-step-one"
                  aria-required="true"
                  class="field__input"
                  size="30"
                  type="email"
                  name="checkout[email]"
                  id="checkout_email"
                >
              </div>
            </div>
          </div>

          <div class="fieldset-description" data-buyer-accepts-marketing>
            <div class="section__content">
              <div class="checkbox-wrapper">
                <div class="checkbox__input">
                  <input name="checkout" type="hidden" value="0">
                  <input class="input-checkbox" type="checkbox" value="1">
                </div>
                <label
                  class="checkbox__label"
                  for="checkout_buyer_accepts_marketing"
                >Keep me up to date on news and exclusive offers</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="priview-address">
        <div class="priview-address-shipping">
          <p>Shipping address</p>
          <div class="sestion__content">
            <div class="fieldset">
              <div class="field field--optional field--half" data-address-field="first_name">
                <div class="field__input-wrapper">
                  <label
                    class="field__label field__label--visible"
                    for="checkout_shipping_address_first_name"
                  >First name (optional)</label>
                  <input
                    placeholder="First name (optional)"
                    autocomplete="shipping given-name"
                    autocorrect="off"
                    data-trekkie-id="shipping_firstname_field"
                    data-backup="first_name"
                    class="field__input"
                    size="30"
                    type="text"
                    name="checkout[shipping_address][first_name]"
                    id="checkout_shipping_address_first_name"
                  >
                </div>
              </div>
              <div class="field field--required field--half" data-address-field="last_name">
                <div class="field__input-wrapper">
                  <label
                    class="field__label field__label--visible"
                    for="checkout_shipping_address_last_name"
                  >Last name</label>
                  <input
                    placeholder="Last name"
                    autocomplete="shipping family-name"
                    autocorrect="off"
                    data-backup="last_name"
                    data-trekkie-id="shipping_lastname_field"
                    class="field__input"
                    aria-required="true"
                    size="30"
                    type="text"
                    id="checkout_shipping_address_last_name"
                  >
                </div>
              </div>
              <div
                data-address-field="company"
                data-autocomplete-field-container="true"
                class="field field--optional"
              >
                <div class="field__input-wrapper">
                  <label
                    class="field__label field__label--visible"
                    for="checkout_shipping_address_company"
                  >Company (optional)</label>
                  <input
                    placeholder="Company (optional)"
                    autocomplete="shipping organization"
                    autocorrect="off"
                    data-trekkie-id="shipping_company_field"
                    data-backup="company"
                    class="field__input"
                    size="30"
                    type="text"
                    name="checkout[shipping_address][company]"
                    id="checkout_shipping_address_company"
                  >
                </div>
              </div>
              <div
                data-address-field="address1"
                data-autocomplete-field-container="true"
                class="field field--required"
              >
                <div class="field__input-wrapper">
                  <label
                    class="field__label field__label--visible"
                    for="checkout_shipping_address_address1"
                  >Address</label>
                  <input
                    placeholder="Address"
                    autocomplete="shipping address-line1"
                    autocorrect="off"
                    role="combobox"
                    aria-autocomplete="list"
                    aria-owns="address-autocomplete"
                    aria-expanded="false"
                    aria-required="true"
                    data-backup="address1"
                    data-trekkie-id="shipping_address1_google_autocomplete_field"
                    data-autocomplete-trigger="true"
                    data-autocomplete-title="Suggestions"
                    data-autocomplete-close="Close suggestions"
                    class="field__input"
                    size="30"
                    type="text"
                  >
                </div>
              </div>
              <div
                data-address-field="city"
                data-autocomplete-field-container="true"
                class="field field--required"
              >
                <div class="field__input-wrapper">
                  <label
                    class="field__label field__label--visible"
                    for="checkout_shipping_address_city"
                  >City</label>
                  <input
                    placeholder="City"
                    autocomplete="shipping address-level2"
                    autocorrect="off"
                    data-trekkie-id="shipping_city_field"
                    data-backup="city"
                    class="field__input"
                    aria-required="true"
                    size="30"
                    type="text"
                    name="checkout[shipping_address][city]"
                    id="checkout_shipping_address_city"
                  >
                </div>
              </div>
              <div class="field__input-wrapper field__input-wrapper--icon-right">
                <label
                  class="field__label field__label--visible"
                  for="checkout_shipping_address_phone"
                >Phone (optional)</label>
                <input
                  placeholder="Phone (optional)"
                  autocomplete="shipping tel"
                  autocorrect="off"
                  data-backup="phone"
                  data-trekkie-id="shipping_phone_field"
                  data-phone-formatter="true"
                  data-phone-formatter-country-select="[name='checkout[shipping_address][country]']"
                  aria-describedby="tooltip-for-phone"
                  class="field__input field__input--numeric"
                  size="30"
                  type="tel"
                  name="checkout[shipping_address][phone]"
                  id="checkout_shipping_address_phone"
                >
              </div>
              <div class="check_box">
                <form action>
                  <input type="checkbox" value="1">
                  <label
                    class="checkbox__label"
                    for="checkout_remember_me"
                  >Save this information for next time</label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-pri">
      <e-cart></e-cart>
    </div>
  </div>
</template>
<script>
import Cart from "@/components/cart.vue";
export default {
  computed: {
    products() {
      return this.$store.state.products;
    }
  },
  components: {
    "e-cart": Cart
  },
  methods: {
    handleremoveCart(product) {
      this.$store.commit("removeCart", product);
      return;
    }
  }
};
</script>

<style lang="scss">
.priview {
  width: 100%;
  float: left;
  position: relative;
  .priview-child {
    width: 50%;
    padding-bottom: 2em;
    float: left;
    padding-left: 4em;
    h2 {
      font-size: 2em;
      display: block;
      font-family: "Lato";
      font-weight: 300;
    }
    .priview-title {
      margin-top: 1em;
      width: 100%;
      height: 2em;
      span {
        display: inline;
        font-size: 0.85714em;
        color: #737373;
        display: flex;
        -webkit-box-align: center;
        float: left;
        svg {
          height: 17px;
          width: 17px;
          padding: 0 1em;
        }
      }
    }
    .priview-contact {
      width: 100%;
      p {
        padding-left: 0.57143rem;
        padding-right: 0.57143rem;
        font-size: 1.23em;
      }
      .section__content {
        zoom: 1;
        display: block;
        .fieldset {
          margin: -0.42857em;
          zoom: 1;
          padding: 0.42857em;
          .field-required {
            width: 100%;
            float: left;
            padding: 0.42857em;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            .field__input-wrapper {
              position: relative;
              display: block;
              .field__label {
                color: #737373;
                font-size: 0.85714em;
                font-weight: normal;
                position: absolute;
                top: 0;
                width: 100%;
                margin-top: 0.42857em;
                margin-left: 1px;
                padding: 0 0.91667em;
                z-index: 1;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-transform: translateY(3px);
                transform: translateY(3px);
                pointer-events: none;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                opacity: 0;
              }
              .field__input {
                background-color: white;
                color: #333333;
                // border-color: #d9d9d9;
                border: solid 1px #d9d9d9;
                background-clip: padding-box;
                border-radius: 5px;
                display: block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 100%;
                padding: 0.92857em 0.78571em;
                word-break: normal;
              }
            }
          }
        }
        .fieldset-description {
          margin-top: 0.92857em;
          .section__content {
            zoom: 1;
            .checkbox-wrapper {
              display: table;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              margin-bottom: 0;
              .checkbox__input {
                display: table-cell;
                white-space: nowrap;
                input {
                  color: inherit;
                  font: inherit;
                  margin: 0;
                  padding: 0;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  -webkit-font-smoothing: inherit;
                  border: none;
                  background: transparent;
                  line-height: normal;
                }
                input[type="checkbox"],
                input[type="radio"] {
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  padding: 0;
                }
                .input-checkbox {
                  border-color: #d9d9d9;
                  box-sizing: border-box;
                  padding: 0;
                  border-radius: 4px;
                  width: 18px;
                  height: 18px;
                  box-shadow: 0 0 0 0 #1990c6 inset;
                  transition: all 0.2s ease-in-out;
                  position: relative;
                  cursor: pointer;
                  vertical-align: -4px;
                  border: 1px solid;
                }
              }
              .input-checkbox:checked,
              .input-radio:checked {
                border: none;
                -webkit-box-shadow: 0 0 0 10px #1990c6 inset;
                box-shadow: 0 0 0 10px #1990c6 inset;
              }
            }
          }
        }
      }
    }
    .priview-address {
      padding-top: 3em;
      position: relative;
      .priview-address-shipping {
        margin-bottom: 1.5em;
        p {
          color: #000;
          font-size: 1.2875em;
          font-family: "Lato";
        }
        .sestion__content {
          zoom: 1;
          width: 100%;
          float: left;
          .fieldset {
            margin: -0.42857em;
            float: left;
            zoom: 1;
            width: 100%;
            .field--half {
              width: 50%;
              // width: 100%;
              float: left;
              padding: 0.42857em 0em;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              .field__input-wrapper {
                position: relative;
                .field__label {
                  color: #737373;
                  font-size: 0.85714em;
                  font-weight: normal;
                  position: absolute;
                  top: 0;
                  width: 100%;
                  margin-top: 0.42857em;
                  margin-left: 1px;
                  padding: 0 0.91667em;
                  z-index: 1;
                  transform: translateY(3px);
                  pointer-events: none;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  opacity: 0;
                }
                .field__input {
                  background-color: white;
                  color: #333333;
                  border: 1px #d9d9d9 solid;
                  background-clip: padding-box;
                  border-radius: 5px;
                  display: block;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  width: 100%;
                  padding: 0.92857em 0.78571em;
                  word-break: normal;
                }
              }
            }
            .field {
              width: 100%;
              float: left;
              padding: 0.42857em;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
            }
            .field__input-wrapper {
              position: relative;
              .field__label {
                font-size: 0.85714em;
                font-weight: normal;
                position: absolute;
                top: 0;
                width: 100%;
                margin-top: 0.42857em;
                margin-left: 1px;
                padding: 0 0.91667em;
                z-index: 1;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-transform: translateY(3px);
                transform: translateY(3px);
                pointer-events: none;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
  .field__input {
    background-color: white;
    color: #333333;
    // border-color: #d9d9d9;
    border: 1px #d9d9d9 solid;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.92857em 0.78571em;
    word-break: normal;
  }
  .check_box {
    padding: 1.5em;
    form {
      margin-bottom: 0;
      display: table;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      cursor: pointer;
      input {
        padding-right: 0.75em;
        white-space: nowrap;
        height: 18px;
        width: 18px;
      }
      .checkbox__label {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
      }
    }
  }
  .cart-pri {
    float: left;
    width: 45%;
    h3 {
      display: none;
    }
    .cart .cart-title {
      display: hidden;
      .carts-title {
        display: none;
      }
    }
    .cart .cart-form .cart-item .product-item img {
      width: 56%;
    }
    .cart .cart-form .cart-item td input {
      float: right;
      width: 30px;
    }
  }
}
</style>
