<template>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-content-brumb">
        <p class="footer-content-brumb-des">
          <span>Big thanks to</span>
          <a href="#" target="_blank" style="color:">Mabo Kids</a>
          <span>for the content used in this demo! Visit their website&nbsp;to shop these cute garments for real.</span>
        </p>
      </div>
      <div class="footer-content-slug">
        <p>Our Story
          <br>
        </p>
        <p>Shipping & Returns
          <br>
        </p>
        <p>Sizing Guidelines
          <br>
        </p>
        <p>Stockists
          <br>
        </p>
      </div>
      <div class="footer-content-icon">
        <ul class="list">
          <li>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100005817882509">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M12.82 24H1.324A1.325 1.325 0 0 1 0 22.675V1.325C0 .593.593 0 1.325 0h21.35C23.407 0 24 .593 24 1.325v21.35c0 .732-.593 1.325-1.325 1.325H16.56v-9.294h3.12l.466-3.622H16.56V8.77c0-1.048.29-1.763 1.795-1.763h1.918v-3.24c-.332-.045-1.47-.143-2.795-.143-2.766 0-4.659 1.688-4.659 4.788v2.67H9.692v3.623h3.127V24z"
                ></path>
              </svg>
              Facebook
            </a>
          </li>
          <li>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100005817882509">
              <svg width="24" height="20" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M24 2.368a9.617 9.617 0 0 1-2.827.794A5.038 5.038 0 0 0 23.338.37a9.698 9.698 0 0 1-3.129 1.223A4.856 4.856 0 0 0 16.616 0c-2.718 0-4.922 2.26-4.922 5.049 0 .396.042.78.126 1.15C7.728 5.988 4.1 3.979 1.67.922a5.14 5.14 0 0 0-.666 2.54c0 1.751.87 3.297 2.19 4.203a4.834 4.834 0 0 1-2.23-.63v.062c0 2.447 1.697 4.488 3.95 4.95a4.695 4.695 0 0 1-1.296.178c-.317 0-.627-.03-.927-.09.626 2.006 2.444 3.466 4.599 3.505A9.722 9.722 0 0 1 0 17.733 13.71 13.71 0 0 0 7.548 20c9.058 0 14.01-7.692 14.01-14.365 0-.22-.005-.439-.013-.654A10.1 10.1 0 0 0 24 2.368"
                ></path>
              </svg>
              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100005817882509">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M0 12c0 4.913 2.955 9.135 7.184 10.991-.034-.837-.005-1.844.208-2.756l1.544-6.538s-.383-.766-.383-1.9c0-1.778 1.032-3.106 2.315-3.106 1.09 0 1.618.82 1.618 1.803 0 1.096-.7 2.737-1.06 4.257-.3 1.274.638 2.312 1.894 2.312 2.274 0 3.805-2.92 3.805-6.38 0-2.63-1.771-4.598-4.993-4.598-3.64 0-5.907 2.714-5.907 5.745 0 1.047.307 1.784.79 2.354.223.264.253.368.172.67-.056.219-.189.752-.244.963-.08.303-.326.413-.6.3-1.678-.684-2.458-2.52-2.458-4.585 0-3.408 2.875-7.497 8.576-7.497 4.582 0 7.598 3.317 7.598 6.875 0 4.708-2.617 8.224-6.476 8.224-1.294 0-2.514-.7-2.931-1.494 0 0-.698 2.764-.844 3.298-.254.924-.752 1.85-1.208 2.57 1.08.318 2.22.492 3.4.492 6.628 0 12-5.372 12-12S18.628 0 12 0C5.375 0 0 5.372 0 12z"
                ></path>
              </svg>
              <span>Pinterest</span>
            </a>
          </li>
          <li>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100005817882509">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M6.89 2.234h10.22c2.578 0 4.668 2.1 4.668 4.692v10.148c0 2.592-2.09 4.692-4.667 4.692H6.889c-2.577 0-4.667-2.1-4.667-4.692V6.926c0-2.592 2.09-4.692 4.667-4.692zM0 17.074C0 20.9 3.085 24 6.89 24h10.22c3.806 0 6.89-3.1 6.89-6.926V6.926C24 3.1 20.915 0 17.11 0H6.89C3.083 0 0 3.1 0 6.926v10.148zm18.35-4.978c0-3.508-2.83-6.351-6.318-6.351-3.49 0-6.318 2.843-6.318 6.35 0 3.508 2.829 6.352 6.318 6.352 3.489 0 6.317-2.844 6.317-6.351zm-10.413 0c0-2.274 1.833-4.117 4.095-4.117 2.261 0 4.095 1.843 4.095 4.117s-1.834 4.117-4.095 4.117c-2.262 0-4.095-1.843-4.095-4.117zm10.476-4.979c.841 0 1.524-.686 1.524-1.532s-.683-1.532-1.524-1.532c-.842 0-1.524.686-1.524 1.532s.682 1.532 1.524 1.532z"
                ></path>
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M0 12c0 4.913 2.955 9.135 7.184 10.991-.034-.837-.005-1.844.208-2.756l1.544-6.538s-.383-.766-.383-1.9c0-1.778 1.032-3.106 2.315-3.106 1.09 0 1.618.82 1.618 1.803 0 1.096-.7 2.737-1.06 4.257-.3 1.274.638 2.312 1.894 2.312 2.274 0 3.805-2.92 3.805-6.38 0-2.63-1.771-4.598-4.993-4.598-3.64 0-5.907 2.714-5.907 5.745 0 1.047.307 1.784.79 2.354.223.264.253.368.172.67-.056.219-.189.752-.244.963-.08.303-.326.413-.6.3-1.678-.684-2.458-2.52-2.458-4.585 0-3.408 2.875-7.497 8.576-7.497 4.582 0 7.598 3.317 7.598 6.875 0 4.708-2.617 8.224-6.476 8.224-1.294 0-2.514-.7-2.931-1.494 0 0-.698 2.764-.844 3.298-.254.924-.752 1.85-1.208 2.57 1.08.318 2.22.492 3.4.492 6.628 0 12-5.372 12-12S18.628 0 12 0C5.375 0 0 5.372 0 12z"
                  ></path>
                </svg>
              </svg>
              <span>Instagram</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-subscribe">
        <form method="post" accept-charset="UTF-8" class="contact-form">
          <input type="hidden" name="form_type" value="customer">
          <input type="hidden" name="utf8" value="✓">
          <p class="mailing-list-error"></p>
          <div class="mainling-input">
            <input
              name="contact[email]"
              type="email"
              placeholder="your@email.com"
              value
              class="mailing-list-email"
            >
            <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter">
            <div class="mailing-list-submit">
              <input name="subscribe" type="submit" value="Subscribe" class="submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </footer>
</template>
<script>
export default {};
</script>
<style lang="scss">
.footer {
  float: left;
  width: 100%;
  margin: 0 auto 30px;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 1.625;
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    padding: 29px;
    border-top: 1px solid #e4e4e4;
    .footer-content-brumb {
      font-size: 1em;
      max-width: 24%;
      float: left;
      .footer-content-brumb-des {
        padding: 0px 20px;
        a {
          color: #4667a7;
          padding: 0 3px;
        }
      }
    }
    .footer-content-slug {
      font-size: 1em;
      width: 24%;
      margin-left: 1%;
      float: left;
      line-height: 0.7em;
    }
    .footer-content-icon {
      width: 24%;
      float: left;
      .list {
        padding: 0;
        margin: 0px;
        li {
          // padding: 5px 0px;
          list-style: none;
          a {
            color: #000;
            text-decoration: none;
            box-sizing: border-box;
            cursor: pointer;
            svg {
              width: 16px;
              height: 16px;
              vertical-align: text-bottom;
              margin-left: 2px;
            }
          }
        }
      }
    }
    .footer-subscribe {
      display: inline-block;
      max-width: 305px;
      width: 24%;
      padding-right: 30px;
      font-size: 1rem;
      form {
        position: relative;
        font-size: 0;
        max-width: 380px;
        margin: 0 auto;
        input {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .mailing-list-error {
          display: block;
          margin: 1px 0;
          font-size: 1rem;
          text-align: left;
        }
        .mailing-list-submit {
          position: absolute;
          top: 0;
          right: 0;
          width: auto;
          height: 39px;
          .submit {
            font-family: Lato, sans-serif;
            font-style: normal;
            font-weight: 400;
            background: #4667a7;
            color: #fff;
            display: inline-block;
            text-align: center;
            line-height: normal;
            padding: 10px 14px;
            // border-radius: 2px;
            border: 0;
            font-size: 1rem;
            margin-top: 0px;
          }
        }
        .mainling-input {
          position: relative;
          text-align: left;
          .mailing-list-email {
            display: inline-block;
            vertical-align: top;
            height: 33px;
            margin-top: 0;
            // padding: 9px 101px 9px 12px;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
</style>
