<template>
  <header class="header">
    <div class="topbar">
      <div class="topbar_left">
        <span class="topbar_left_Select">Select currency</span>
        <span class="topbar-left-currency-switcher">
          <span class="topbar_left_Select-currency">
            USD
            <svg viewBox="0 0 192 512">
              <path
                d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"
                class
              ></path>
            </svg>
          </span>
          <select id="currencies" name="currencies">
            <option value="USD">USD</option>
            <option value="CAD">CAD</option>
            <option value="GBP">GBP</option>
            <option value="AUD">AUD</option>
            <option value="JPY">JPY</option>
          </select>
        </span>
      </div>
      <div class="topbar_right">
        <div class="mini-cart-wrapper">
          <router-link to="/cart" style="text-decoration:none;">
            <a class="cart-count" data-cart-count>
              <span class="cart-count-text">Cart</span>
              <span class="cart-count-number">(0)</span>
            </a>
          </router-link>
        </div>
        <router-link to="/priview" style="text-decoration:none;">
          <a class="checkout-link">Checkout</a>
        </router-link>
      </div>
    </div>
    <div class="header_main_content" id="myHeader">
      <div class="header_main_content_branding">
        <router-link to="/" style="text-decoration:none;">
          <a class="logo" href="/">
            <img src="/assets/images/logo.png">
          </a>
        </router-link>
      </div>
      <div class="phone-menu" ref="menuMobile">
        <div class="phone_menu__body">
          <div class="btn-close" @click="closeMenuMobile">
            <svg viewBox="0 0 320 512">
              <path
                d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"
                class
              ></path>
            </svg>
          </div>
          <div class="phone_menu__logo">
            <a href="/">
              <img src="/assets/images/logo.png">
            </a>
          </div>
          <ul class="list">
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <router-link to="'/post'+slug">Catalog</router-link>
            </li>
            <li>
              <router-link to="/introduct">Out Store</router-link>
            </li>
            <li>
              <router-link to="/contact">Contact</router-link>
            </li>
          </ul>
        </div>
      </div>
      <div @click="openMenuMobile" class="btn-menu-mobile">Open Menu Phone</div>
      <nav class="menu" ref="menuFix">
        <ul class="list">
          <li>
            <router-link to="/">Home</router-link>
          </li>
          <li>
            <router-link to="/introduct">Out Store</router-link>
          </li>
          <li>
            <router-link to="/contact">Contact</router-link>
          </li>
          <li>
            <!-- <router-link :to="'/post'+slug">Catalog</router-link> -->
            <router-link :to="'/post/dfsdf'">Catalog</router-link>
          </li>
        </ul>
      </nav>
      <div class="header_main_content_right">
        <input class="search" placeholder="Search...">
        <svg class="icon" title="Click the button to search." viewBox="0 0 512 512">
          <path
            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
          ></path>
        </svg>
      </div>
    </div>
  </header>
</template>
<script>
export default {
  mounted() {
    this.checkMenu();
  },
  methods: {
    checkMenu() {
      if (this.$refs.menuFix) {
        var sticky = this.$refs.menuFix.offsetTop;
      }
      window.onscroll = () => {
        if (this.$refs.menuFix) {
          if (window.pageYOffset > sticky) {
            this.$refs.menuFix.classList.add("sticky");
          } else {
            this.$refs.menuFix.classList.remove("sticky");
          }
        }
      };
    },
    openMenuMobile() {
      this.$refs.menuMobile.classList.add("active");
    },
    closeMenuMobile() {
      this.$refs.menuMobile.classList.remove("active");
    }
  }
};
</script>

<style lang="scss">
.btn-menu-mobile {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}
.header {
  //   padding: 0 30px;
  .topbar {
    background: #f2f2f2;
    float: left;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    // padding: 0 30px;
    .topbar_left {
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      float: left;
      padding: 10px 30px;
      .topbar_left_Select-currency {
        position: relative;
        // padding-right: 13px;
        svg {
          width: 0.3em;
          transform: rotate(90deg);
        }
      }
      .topbar-left-currency-switcher {
        position: relative;
        padding: 10px;
        color: #242424;
        -webkit-font-smoothing: antialiased;
        font-size: 1rem;
        width: auto;
        padding: 0;
        margin-left: 10px;
        color: currentColor;
        background: transparent;
        border: 0;
        #currencies {
          color: black;
          opacity: 0;
          filter: alpha(opacity=0);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          cursor: pointer;
          z-index: 2;
          width: 100%;
          height: 100%;
          -webkit-appearance: none;
          option {
            font-weight: normal;
            display: block;
            white-space: pre;
            min-height: 1.2em;
            padding: 0px 2px 1px;
          }
        }
      }
    }
    .topbar_right {
      font-style: normal;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      float: right;
      position: relative;
      margin-right: 40px;
      text-align: right;
      .mini-cart-wrapper {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        .cart-count {
          color: #000;
          font-size: 1em;
          text-decoration: none;
          display: inline-block;
          .cart-count-text {
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            font-size: 1rem;
          }
          .cart-count-number {
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            margin-left: 0.2em;
          }
        }
      }
      .checkout-link {
        margin-left: 0;
        padding: 10px 20px;
        background: #fff;
        color: #000;
        text-decoration: none;
      }
    }
  }
  .header_main_content {
    padding-top: 30px;
    position: relative;
    float: left;
    width: 96%;
    display: block;
    padding: 0 30px;
    transition: height 200ms (0.25, 0.46, 0.45, 0.94);
    .header_main_content_branding {
      z-index: 100;
      position: relative;
      display: block;
      padding-top: 60px;
      padding-bottom: 15px;
      widows: 100%;
      text-align: center;
      a {
        display: inline-block;
        max-width: 100%;
        color: #000;
        text-decoration: none;
        img {
          max-width: 100%;
        }
      }
    }
    .menu {
      width: 100%;
      height: 50px;
      background: #fff;
      margin-left: -29px;
      .list {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        li {
          list-style: none;
          height: 50px;
          position: relative;
          a {
            text-decoration: none;
            color: gray;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            display: inline-block;
            line-height: 50px;
            padding: 0px 1rem;
            &:hover {
              background-color: rgba(#000, 0.1);
            }
          }
        }
      }
    }
    .phone-menu {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(#000, 0.4);
      z-index: 1000;
      display: none;
      &.active {
        display: block;
      }
      .phone_menu__body {
        padding: 1rem 0.8rem;
        width: 220px;
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        height: 100%;
      }
      .btn-close {
        position: absolute;
        top: 1rem;
        right: -60px;
        width: 40px;
        height: 40px;
        fill: rgba(#637381, 0.5);
        padding: 0.4rem;
        background: #fff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 1em;
        }
      }
      .phone_menu__logo {
        img {
          height: 60px;
        }
      }
      .list {
        padding: 0;
        width: 100%;
        li {
          list-style: none;
          a {
            line-height: 40px;
            display: block;
            text-decoration: none;
            color: #637381;
          }
        }
      }
      &.active {
        display: block;
      }
    }
    .header_main_content_right {
      position: absolute;
      height: 50px;
      top: 70px;
      right: 50px;
      z-index: 10000;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .search {
        border: solid 1px #d2dae2;
        // border-radius: 30px;
        padding: 10px 15px;
        transition: box-shadow 0.5s, width 0.5s;
        &:focus {
          box-shadow: 0px 0px 0px 2px #4667a7;
          outline: none;
        }

        &::placeholder {
          color: #485460;
          font-size: 0.8em;
          font-family: "Roboto", sans-serif;
        }
      }
      .icon {
        width: 18px;
        height: 18px;
        float: left;
        margin-left: -30px;
        fill: #808e9b;
        cursor: pointer;
        transition: fill 0.3s;
        &:hover {
          fill: #485460;
        }
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.sticky + .main-content {
  padding-top: 192px;
}
</style>

