<template>
  <div id="app">
    <router-view/>
    <!-- <product-list-one></product-list-one> -->
  </div>
</template>

<script>
// import Post from "./pages/post.vue";
export default {
  data() {
    return {
      products: [
        { name: "Annie Pinafore", price: 64.0 },
        { name: "Orla Slip Dress", price: 55.0 },
        { name: "Halter Tank", price: 44.0 },
        { name: "Mabel Playsuit", price: 64.0 },
        { name: "Slouchy Bubble Shorts", price: 64.0 },
        { name: "Slouchy Bubble Shorts", price: 64.0 },
        { name: "Slouchy Bubble Shorts", price: 64.0 },
        { name: "Slouchy Bubble Shorts", price: 64.0 },
        { name: "Slouchy Bubble Shorts", price: 64.0 },
        { name: "Slouchy Bubble Shorts", price: 64.0 }
      ]
    };
  }
};
</script>
<style lang="scss">
#id {
  margin: 0px;
}
</style>


