<template>
  <div>
    <Header/>
    <!-- ,.jnaskjnkj -->
    <div>
      <router-view/>
    </div>
    <Footer/>
  </div>
</template>
<script>
import Header from "@/components/header.vue";
import Footer from "@/components/footer.vue";
export default {
  name: "Layout",
  components: {
    Header,
    Footer
  }
};
</script>

