@mixin desktop {
    @media (max-width: 1200px) {
        @content;
        //-------lg--------
    }
}

@mixin laptop {
    @media (max-width: 992px) {
        @content;
        //-------md--------
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
        //-------sm--------
    }
}

@mixin phone-portrait {
    @media (max-width: 580px) {
        @content;
        //-------xs--------
    }
}

@mixin phone {
    @media (max-width: 480px) {
        @content;
        //-------xxs--------
    }
}

@mixin phone-tiny {
    @media (max-width: 360px) {
        @content;
        //-------xxs--------
    }
}

@mixin responsive ($maxWidth) {
    @media (max-width: $maxWidth) {
        @content;
        //-------xxs--------
    }
}